/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: "Nunito Sans", "Segoe UI", Tahoma, Geneva, Verdana,
  sans-serif;
}
.accent-color {
  color: #b99b54 !important;
}
.container {
  display: flex;
  background-image: url("img/topo-fundo.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  flex-direction: column;
  max-width: 1920px;
}

.hero {
  font-family: "Nunito Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 1vw;
  display: flex;
  width: 75%;
  height: 67vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}
.hero-content {
  display: flex;
  flex: 0.6;
  justify-content: center;
  flex-direction: column;
  margin-left: 2vw;
}
.hero-content h1 {
  font-family: "Nunito Sans Black", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 4.5vw;
}

.hero-content h2 {
  font-family: "Nunito Sans Black", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-weight: bold;
  font-size: 4vw;
}

.hero-content span {
  font-family: "Nunito Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  color: #ffffff;
  font-weight: bold;
  font-size: 4vw;
}

.materclass {
  margin-bottom: 2vw;
}

.provedor {
  line-height: 1.1;
}

.chamada {
  font-family: "Nunito Sans Regular", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  width: 40vw;
  font-size: 2vw;
  margin-top: 1vw;
}

.especial {
  width: 50vw;
  font-size: 1.3vw;
  margin-top: 1vw;
}
.hero-content h3 {
  font-family: "Nunito Sans Regular", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size:2.5vw;
  line-height: 0.5;
}

.hero-content h3 span {
  font-family: "Nunito Sans Regular", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-weight: bold;
  font-size:2.5vw;
}

.whatsapp {
  display: flex;
  height: 16vw;
  width: 60%;
  align-items: flex-start;
  align-self: center;
}

.info-1 {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-direction: column;
}
.info-1 .content{
  order:1;
  flex: .6;
  color: #10110f;
}
.info-1 .content h1{
  font-family: "Nunito Sans Black", "Segoe UI", Tahoma, Geneva, Verdana,
  sans-serif;
font-size: 4vw;
margin-top: 20px;
color: #10110f;
}

.info-1 .content h2{
  font-family: "Nunito Sans Black", "Segoe UI", Tahoma, Geneva, Verdana,
  sans-serif;
font-size: 6vw;
margin-top: 20px;
color: #10110f;
}

.info-1 .image{
  order:2;
  flex: .4;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 5vw;

}
.info-1 .image img {

}
